In [1]:
import pandas as pd

data = pd.read_excel("C:/Users/oosedus/Desktop/3-2/Business Analytics/Project/Project/BirthratePrediction/Data/real_merged_data.xlsx")

In [3]:
data

,Year,ID,Country Name,BirthRate,FemaleLaborParticipationRate,AvgHoursWorked,FirstBirthAge,MarriageRate,EmploymentRate,UnemploymentRate,...,UnemploymentExpenditure,GDI,GDP,GNI,EduExpenditureOfGDP,WeeksPaidLeaveForMothers,TotalLaborParticipationRate,DivorceRate,InflationRate,Population
0,1990,AUT1990,Austria,11.8,55.172,1652.679,27.2,5.9,53.930,3.958333,...,0.901,0.940,19473.072125,19561.545708,4.957250,60.0,67.429,2.1,3.261872,7677850.0
1,1991,AUT1991,Austria,12.2,55.979,1652.679,27.2,5.7,53.930,3.958333,...,0.999,0.942,20617.579156,20602.091660,5.103220,112.0,67.959,2.1,3.337426,7754891.0
2,1992,AUT1992,Austria,12.2,57.604,1652.679,27.3,5.8,54.558,3.958333,...,1.051,0.944,21293.268400,21345.923456,5.296980,112.0,68.839,2.1,4.020847,7840709.0
3,1993,AUT1993,Austria,12.0,58.208,1652.679,27.3,5.7,54.281,3.958333,...,1.268,0.945,21732.871184,21793.075303,5.252000,112.0,68.986,2.1,3.631786,7905632.0
4,1994,AUT1994,Austria,11.6,61.895,1652.679,27.5,5.5,56.969,4.241667,...,1.249,0.949,22642.841565,22677.856984,5.340175,112.0,71.342,2.1,2.953407,7936118.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2017,PRT2017,Portugal,8.4,71.674,1727.140,31.2,3.3,53.712,9.225000,...,0.670,0.987,33044.700150,32269.025353,5.015610,30.1,74.690,2.1,1.368614,10340124.0
476,2018,PRT2018,Portugal,8.5,72.376,1737.704,31.4,3.3,54.978,7.166667,...,0.602,0.991,34928.618990,34075.601394,4.675160,30.1,75.145,2.0,0.993716,10334633.0
477,2019,PRT2019,Portugal,8.4,72.901,1743.930,31.4,3.3,55.422,6.675000,...,0.554,0.988,37299.182306,36330.275280,4.630020,30.1,75.523,2.0,0.338178,10354445.5
478,2020,PRT2020,Portugal,8.2,71.790,1611.193,31.6,3.3,54.056,7.116667,...,0.554,0.992,34955.611560,34411.605571,4.876560,30.1,74.227,1.7,-0.012438,10384846.0
479,2021,PRT2021,Portugal,7.7,72.851,1648.943,31.8,3.3,54.006,6.591667,...,0.554,0.994,36971.269095,36375.612016,4.711906,30.1,75.211,1.7,1.265657,10407707.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          480 non-null    int64
 1   ID                            480 non-null    object
 2   Country Name                  480 non-null    object
 3   BirthRate                     480 non-null    float64
 4   FemaleLaborParticipationRate  480 non-null    float64
 5   AvgHoursWorked                480 non-null    float64
 6   FirstBirthAge                 480 non-null    float64
 7   MarriageRate                  480 non-null    float64
 8   EmploymentRate                480 non-null    float64
 9   UnemploymentRate              480 non-null    float64
 10  HousingPrice                  480 non-null    float64
 11  InterestRate                  480 non-null    float64
 12  PartTimeRate                  480 non-null    float64
 13  FamilyExpenditure             480 non-null    float64
 14  UnemploymentExpenditure       480 non-null    float64
 15  GDI                           480 non-null    float64
 16  GDP                           480 non-null    float64
 17  GNI                           480 non-null    float64
 18  EduExpenditureOfGDP           480 non-null    float64
 19  WeeksPaidLeaveForMothers      480 non-null    float64
 20  TotalLaborParticipationRate   480 non-null    float64
 21  DivorceRate                   480 non-null    float64
 22  InflationRate                 480 non-null    float64
 23  Population                    480 non-null    float64
dtypes: float64(21), int64(1), object(2)
memory usage: 90.1+ KB

# Work-Leisure Balance Index

- **AvgHoursWorked / LaborParticipationRate**, provides a detailed look at the characteristics of the labor market. This ratio indicates the average working hours relative to the labor participation rate, offering insights into the intensity of work and leisure time available, which can impact birth rates.

- **High Value Implication**: If this ratio is high, it implies long working hours combined with a low participation rate, suggesting a high work intensity with less leisure time, potentially leading to lower birth rates.

- **Low Value Implication**: Conversely, a low value of this ratio indicates shorter working hours with a high participation rate, suggesting more leisure time is available, which might be conducive to higher birth rates.

In [2]:
data['WorkLeisureBalanceIndex'] = data['AvgHoursWorked'] / data['TotalLaborParticipationRate']

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          480 non-null    int64
 1   ID                            480 non-null    object
 2   Country Name                  480 non-null    object
 3   BirthRate                     480 non-null    float64
 4   FemaleLaborParticipationRate  480 non-null    float64
 5   AvgHoursWorked                480 non-null    float64
 6   FirstBirthAge                 480 non-null    float64
 7   MarriageRate                  480 non-null    float64
 8   EmploymentRate                480 non-null    float64
 9   UnemploymentRate              480 non-null    float64
 10  HousingPrice                  480 non-null    float64
 11  InterestRate                  480 non-null    float64
 12  PartTimeRate                  480 non-null    float64
 13  FamilyExpenditure             480 non-null    float64
 14  UnemploymentExpenditure       480 non-null    float64
 15  GDI                           480 non-null    float64
 16  GDP                           480 non-null    float64
 17  GNI                           480 non-null    float64
 18  EduExpenditureOfGDP           480 non-null    float64
 19  WeeksPaidLeaveForMothers      480 non-null    float64
 20  TotalLaborParticipationRate   480 non-null    float64
 21  DivorceRate                   480 non-null    float64
 22  InflationRate                 480 non-null    float64
 23  Population                    480 non-null    float64
 24  WorkLeisureBalanceIndex       480 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 93.9+ KB

## LaborMarketStability

- **the ratio of the Employment Rate to the Unemployment Rate**
- This feature helps in assessing the overall health and stability of the labor market, where a higher ratio indicates stability (high employment, low unemployment), and a lower ratio indicates instability (low employment, high unemployment).

In [3]:
data['LaborMarketStability'] = data['EmploymentRate'] / data['UnemploymentRate']

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          480 non-null    int64
 1   ID                            480 non-null    object
 2   Country Name                  480 non-null    object
 3   BirthRate                     480 non-null    float64
 4   FemaleLaborParticipationRate  480 non-null    float64
 5   AvgHoursWorked                480 non-null    float64
 6   FirstBirthAge                 480 non-null    float64
 7   MarriageRate                  480 non-null    float64
 8   EmploymentRate                480 non-null    float64
 9   UnemploymentRate              480 non-null    float64
 10  HousingPrice                  480 non-null    float64
 11  InterestRate                  480 non-null    float64
 12  PartTimeRate                  480 non-null    float64
 13  FamilyExpenditure             480 non-null    float64
 14  UnemploymentExpenditure       480 non-null    float64
 15  GDI                           480 non-null    float64
 16  GDP                           480 non-null    float64
 17  GNI                           480 non-null    float64
 18  EduExpenditureOfGDP           480 non-null    float64
 19  WeeksPaidLeaveForMothers      480 non-null    float64
 20  TotalLaborParticipationRate   480 non-null    float64
 21  DivorceRate                   480 non-null    float64
 22  InflationRate                 480 non-null    float64
 23  Population                    480 non-null    float64
 24  WorkLeisureBalanceIndex       480 non-null    float64
 25  LaborMarketStability          480 non-null    float64
dtypes: float64(23), int64(1), object(2)
memory usage: 97.6+ KB

## HousingAffordabilityIndex

- **HousingPriceIndex / PerCapitaGDP** : This index quantifies the economic burden of purchasing a home by comparing the cost of buying a house to the income level of individuals or households.
- **A lower index value** indicates that buying a house is relatively affordable, which may lead to less financial strain on starting and expanding families, potentially increasing birth rates.
- **A higher index value** implies that buying a house is expensive relative to personal income, which could increase financial pressure and act as a deterrent to having children.

In [4]:
data['PerCapitaGDP'] = data['GDP'] / data['Population']
data['HousingAffordabilityIndex'] = data['HousingPrice'] / data['PerCapitaGDP']

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          480 non-null    int64
 1   ID                            480 non-null    object
 2   Country Name                  480 non-null    object
 3   BirthRate                     480 non-null    float64
 4   FemaleLaborParticipationRate  480 non-null    float64
 5   AvgHoursWorked                480 non-null    float64
 6   FirstBirthAge                 480 non-null    float64
 7   MarriageRate                  480 non-null    float64
 8   EmploymentRate                480 non-null    float64
 9   UnemploymentRate              480 non-null    float64
 10  HousingPrice                  480 non-null    float64
 11  InterestRate                  480 non-null    float64
 12  PartTimeRate                  480 non-null    float64
 13  FamilyExpenditure             480 non-null    float64
 14  UnemploymentExpenditure       480 non-null    float64
 15  GDI                           480 non-null    float64
 16  GDP                           480 non-null    float64
 17  GNI                           480 non-null    float64
 18  EduExpenditureOfGDP           480 non-null    float64
 19  WeeksPaidLeaveForMothers      480 non-null    float64
 20  TotalLaborParticipationRate   480 non-null    float64
 21  DivorceRate                   480 non-null    float64
 22  InflationRate                 480 non-null    float64
 23  Population                    480 non-null    float64
 24  WorkLeisureBalanceIndex       480 non-null    float64
 25  LaborMarketStability          480 non-null    float64
 26  PerCapitaGDP                  480 non-null    float64
 27  HousingAffordabilityIndex     480 non-null    float64
dtypes: float64(25), int64(1), object(2)
memory usage: 105.1+ KB

## 필요없는 Feature 삭제

In [5]:
columns_to_exclude = ['Country Name', 'ID', 'PerCapitaGDP', 'Population', 'DivorceRate']
data01 = data.drop(columns=columns_to_exclude)

In [6]:
# Save the DataFrame to an Excel file
data01.to_excel("C:/Users/oosedus/Desktop/3-2/Business Analytics/Project/Project/BirthratePrediction/Data/after_extration_data.xlsx", index=False)